# Folders to ignore
CryptDrive_Dbs/
CryptDrive_Decrypt/
CryptDrive_Import/
CryptDrive_Keys/
CryptDrive_Upload
Modules/__pycache__/
.idea/
venv/

# Files to ignore
crypt_log.log
credentials.json
settings.yaml
To-Do.txt
AppSecret.txt
