# Folders to ignore
CryptDbs/
DecryptDock/
CryptImport/
CryptKeys/
Resource_Files/
UploadDock/
Modules/__pycache__/
.idea/
venv/

# Files to ignore
cryptLog.log
credentials.json
settings.yaml
To-Do.txt
AppSecret.txt
